/*
	Date de création :	14/12/2005 
	Auteur :			Alan Marivin
	Contact :			a.marivin@batiformes.com
*/
@media screen {
	/* A enlever après ouverture définitive du site */
	div#logo_construction{
		position:absolute;
		top:91px;
		left:137px;
	}
	/* Affichage commun */
	h1{
		font-size:20px;
		font-family: Arial, Arial Black, Times New Roman, serif;
		font-weight:bold;
		color: white;
	}
	strong {
		color: white;
	}
	div#infobulle{
		position: absolute;	
		visibility : hidden;
		border: 1px solid Black;
		padding: 10px;
		font-family: Verdana, Arial;
		font-size: 10px;
		background-color: #FFFFCC;
	}
	div#contener {
		position: relative;
		clear:both;
		left: 50%;
		top: 2px;
		width:750px;
		height:550px;
		border: 1px solid #000000;
		margin-left: -380px;
		color:#000000;
		background-image: url(../img/fond.jpg); 
	}
	div#logo {
		position:absolute;
		top:3px;
		left:3px;
		width:115px;
		height:75px;
	}
	div#bandeau {
		position:absolute;
		top:-1px;
		right:0px;
		width:614px;
		height:85px;
	}
	/* Affichage Accueil */
	div#logo_fixe{
		position:absolute;
		top:95px;
		left:330px;
	}
	div#accroche {
		position:absolute;
		top:220px;
		left:260px;
		font-size:20px;
		font-weight:bold;
		color:#FF9900;
	}
	div#content_accueil {
		position:absolute;
		top:500px;
		left:145px;
		width:595px;
		height:200px;
		padding-top:10px;
		font-size:16px;
		font-weight:bold;
	}
	div#modenature {
		position:absolute;
		top:270px;
		left:145px;
		width:280px;
		height:110px;
		font-size:12px;
		font-weight:bold;
		color: #EAB280;
		background-image: url(../img/modenatures.gif);
	}
	div#modenature a {
		font-size:20px;
		font-weight:bold;
		color: #EAB280;	
	}
	div#pliage {
		position:absolute;
		top:270px;
		left:450px;
		width:280px;
		height:110px;
		font-size:12px;
		font-weight:bold;
		color: #0066FF;
		background-image: url(../img/pliage.gif);
	}
	div#pliage a {
		font-size:20px;
		font-weight:bold;
		color: #0066FF;
	}
	div#reference {
		position:absolute;
		top:420px;
		left:145px;
		width:280px;
		height:110px;
		font-size:12px;
		font-weight:bold;
		color: #1E8886;
		background-image: url(../img/ref.gif);
	}
	div#reference a {
		font-size:20px;
		font-weight:bold;
		color: #1E8886;
	}
	div#decoupe {
		position:absolute;
		top:420px;
		left:450px;
		width:280px;
		height:110px;
		font-size:12px;
		font-weight:bold;
		color: #B1285B;
		background-image: url(../img/decoupe.gif);
	}
	div#decoupe a {
		font-size:20px;
		font-weight:bold;
		color: #B1285B;
	}
	/* Affichage Societe*/
	div#historique {
		position:absolute;
		top:100px;
		left:145px;
		width:580px;
		height:150px;
		font-size:16px;
		font-weight:bold;
		border: 1px solid #000000;
		background-color:#E1E1E1;
	}
	div#historique_texte {
		position:absolute;
		top:20px;
		left:0px;
		width:570px;
		height:120px;
		padding:5px 5px 5px 5px;
		font-size:12px;
		font-weight:bold;
		text-align: justify;
		overflow:auto;
	}
	div#moyens {
		position:absolute;
		top:300px;
		left:145px;
		width:400px;
		height:200px;
		font-size:16px;
		font-weight:bold;
		border: 1px solid #000000;
		background-color:#E1E1E1;
	}
	div#moyens_texte {
		position:absolute;
		top:20px;
		left:0px;
		width:390px;
		padding:5px 5px 5px 5px;
		font-size:12px;
		font-weight:bold;
		text-align: justify;
	}
	div#nave_diaporama {
		position:absolute;
		top:515px;
		left:585px;
	}
	div#diaporama {
		position:absolute;
		top:265px;
		left:570px;
	}
	/* Affichage Localisation*/
	div#carte {
		position:absolute;
		top:225px;
		left:440px;
		width:300px;
		height:300px;
		border: 1px solid #000000;
	}
	div#localisation_texte {
		position:absolute;
		top:100px;
		left:145px;
		width:595px;
		height:100px;
		font-size:16px;
		font-weight:bold;
		text-align: justify;
		border: 1px solid #000000;
		background-color:#E1E1E1;
	}
	div#ville {
		position:absolute;
		top:110px;
		left:155px;
		width:315px;
		height:100px;
		font-size:16px;
		font-weight:bold;
		border: 1px solid #000000;
		background-color:#E1E1E1;
		padding:5px 25px 5px 25px;
	}
	div#adresse {
		position:absolute;
		top:145px;
		left:220px;
		font-size:12px;
	}
	div#ctact_site {
		position:absolute;
		top:250px;
		left:155px;
		font-size:12px;
		border: 1px solid #000000;
		background-color:#E1E1E1;
		padding:5px 25px 5px 25px;
	}
	/* Affichage Contact*/
	div#mail{
		position:absolute;
		top:130px;
		left:170px;
		width:460px;
		height:300px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		color:#FFFFFF;
		border: 1px solid #000000;
		background-color:#E1E1E1;
		padding:40px 40px 25px 25px;
	}
}
