div#bandeau {
		top : 0px; /* place le bandeau à 0 px du top*/
		position:relative;
		width:950px;
		height : 50px;
		background-repeat : no-repeat;
		z-index : 1;
		background-color : #ffffff;
		margin : 0px auto;
		padding : 0px;
		border-bottom: 1px solid black;

	}
#bandeau_img{
	top : 0px; /* place le bandeau à 0 px du top*/
	/*background-image : url('img/via2s.jpg');
	background-repeat : repeat-y;*/
	height : 100%;

	width:640px;
	float : left;
	z-index : 1;
	background-color : #ffffff;
	margin : 0px;
	padding : 0px;

}
.fixed{
width :815px;
position : relative;
background-color :#ffffff;
z-index : 2;
top : 60px;
}

.titre_fixed{
width : 80%;
position : relative;
font-family:Arial black, Arial, Verdana, Helvetica, sans-serif;
font-size : 24px;
font-weight:bold;
text-align:center;
color:#339933;
border: 1px solid #339933;
background-color : #ffffff;
margin :30px 10px auto;

z-index : 2;
}
.liste_fixed{
position : relative;
margin :0px 0px 0px 0px;
z-index : 2;
}

#menu {
	position: relative;
	width:940px;
	left : auto;
	margin: 0 auto;
}
div#cadre_blanc {
		position: relative;
		top : 0px;
		float : right;
		margin-right : 10px;
		margin-bottom : 15px;
		margin-top : 5px;
		width:816px;
		min-height : 450px; /* ne fonctionne pas sous IE6 */
	/*	background-color:#FFFFFF;*/
		font-family:Arial, Verdana, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		color:#0863CE;
		text-align:justify;

		background-color:#ffffff;
	}
div#info_login {
	position: absolute;
	float :left;
	top: 40px;
	left: 10px;
	width : 105px;
	padding : 1px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:8pt;
	color:#0863CE;
	text-align:justify;
}





#content {
	position: relative;
	margin : 0px auto 0px auto;
	padding : 0px 0px 0px 0px;
	width:950px;
	/*min-height: 610px;*/
	height: 100%;
	border-bottom: 0px solid #ffffff; /*bleu : #0863CE ou blanc :#FFFFFF*/
	/*background-image: url(../img/new_site/fond_content_bottom.bmp);
	background-repeat : repeat-x;
	/*height : 100%;*/
	/*border-left: url(img/new_site/bordure_left_3px.bmp) 4px;*/
	/*border-left: 2px solid red;*/
}

#fond_de_page {
	position: relative;
	margin : 0 auto;
	padding : 0px 0px 0px 0px;
	width:950px;
/*	min-height: 100%;*/
		height: 100%;
	border-bottom: 0px solid #ffffff; /*bleu : #0863CE ou blanc :#FFFFFF*/
/*	background-image: url(../img/new_site/fond_content_bottom.bmp);*/
	background-repeat : no-repeat;
/*	background-color: white;
	/*background-color: green;*/
	/*height : 100%;*/
	/*border-left: url(img/new_site/bordure_left_3px.bmp) 4px;*/
	/*border-left: 2px solid red;*/
}












