@charset "utf-8";
/* =============================================================================

    @note    compresseur de code css : http://www.cleancss.com/

    collection de polices : http://www.alsacreations.com/article/lire/631-quelles-polices-pour-un-site-web.html

    Polices �  empattements (serif)
        font-family: Times, "Times New Roman", "Liberation Serif", FreeSerif, serif;
        font-family: Georgia, "DejaVu Serif", Norasi, serif;

    Polices sans empattements (sans-serif)
        font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
        font-family: Tahoma, Geneva, Kalimati, sans-serif;
        font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
        font-family: Impact, "Arial Black", sans-serif;

    Polices �  chasse fixe (monospace)
        font-family: Courier, "Courier New", FreeMono, "Liberation Mono", monospace;
        font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;

    Conventions de nommage des éléments génériques.
        #header {} bloc d'entête
        #footer {} bloc de pied de page
        #main-nav {} navigation principale
        #aside-nav {} navigation latérale
        #secondary-nav {} navigation supplémentaire
        #breadcrumb {} fil d'ariane
        #sidebar {} partie latérale
        #contact {} formulaire de contact
        .error {} signalement des erreurs
        .succes {} signalement d'une opération réussie
        .warnig {} bloc pour attirer l'attention
        .info {} élément ou bloc d'information
        .more {} lien générique type "en savoir plus"
        .block {} block générique

    Si besoin suffixer les classes .block-a, .more-a etc

    Quelques classes génériques si besoin
        .clear-left { clear:left }
        .clear-right { clear:right }
        .clear-both { clear:both }
        .valign-middle { vertical-align:middle }
        .valign-top { vertical-align:top }
        .valign-bottom { vertical-align:bottom }
        .invisible { visibility:hidden }
        .suffix1 { margin-right:XXpx }
        .prefix1 { margin-left:XXpx }
        .prepend-top { margin-top:XXem }
        .append-bottom { margin-bottom:XXem }

========================================================================== */
/* =============================================================================
    Styles par défaut
    ========================================================================== */
body {
    background: #e9e9e9 url(../images/common/bg.jpg) repeat-x 50% 0;
    font:13px/1.4 Tahoma, Geneva, Kalimati, sans-serif;
    color: #000;
}

a {
    text-decoration: none;
}

/*
 *  http://www.alsacreations.com/astuce/lire/43-comment-dfinir-lapparence-de-ses-liens.html
 */
a:visited {
    color: gray;
}

a:hover,
a:focus,
a:active {
    color: #da0019;
}

input,
textarea {
    font-family: inherit;
}

img {
    vertical-align: top;
}

/* =============================================================================
    Classes génériques
    ========================================================================== */
/*
 *  Micro clear fix http://nicolasgallagher.com/micro-clearfix-hack/
 */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/*
 * Image replacement
 * http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
 */
.ir {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* =============================================================================
   Structure
   ========================================================================== */
.container {
    margin: 0 auto;
    padding: 64px 0 0;
    width: 997px;
}

.wrapper {
    background: transparent url(../images/common/ombre.png) no-repeat 50% 0;
}

/* ===============================================
   Slider
   =============================================== */
#slideshow {
    height: 495px;
    position: relative;
    width: 997px;
}

#slideshow .slides_container {
    display: none;
    height: 495px;

}

.content-slide {
    float: left;
    width: 997px;
}

#slideshow .pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 500;
}

#slideshow .pagination li {
    display: inline-block;
    margin: 0 0 0 5px;
}

#slideshow .pagination a {
    background: transparent url(../images/common/pagination.png) no-repeat 0 0;
    display: block;
    height: 11px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 11px;
}

#slideshow .current a {
    background-position: 0 -11px;
}
