div#menu-principal{
	/*float: left;*/
    width: 100%;
	/*background: none repeat scroll 0 0 transparent;*/
	background: none repeat scroll 0 0 #1971C4;
    /*border: 0 none;*/
	border-top: 1px solid #0051BA;
    font-size: 01.0em;
    margin: 0;
    outline: 0 none;
    padding: 0;
	color: #797979;
	font-family: Verdana,Arial,sans-serif;
	line-height: 1.54;
	height: 30px;
}

div.sousmenu-principal{
	/*float: left;*/
	position: absolute;
	top: 160px;
    width: 960px;
	/*background: none repeat scroll 0 0 transparent;*/
	/*background: none repeat scroll 0 0 #1971C4;*/
	/*background: none repeat scroll 0 0 grey;*/
	background: url(/via2s/img/fond_sous_menu.bmp) repeat-x;
    border: 0 none;
	/*border-top: 1px solid lightgrey;*/
	/*border-top: 1px solid black;*/
    font-size: 0.9em;
    margin: 0;
    outline: 0 none;
    padding: 0;
	/*color: #797979;*/
	color: white;
	font-family: Verdana,Arial,sans-serif;
	line-height: 1.54;
	height: 30px;
	display: none;
}

#menu{
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #1971C4;
	/*background: none repeat scroll 0 0 red;*/
    border-color: #3783CC #3783CC #1665B0;
    border-style: solid;
    border-width: 0;
    clear: both;
    /*height: 30px;*/
	height: 30px;
    position: relative;
    width: 100%;
	margin: 0;
    padding: 0;
	line-height: 1.54;
}

#sousmenu{
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*background: none repeat scroll 0 0 #1971C4;*/
	/*background: none repeat scroll 0 0 #49A1F4;*/
	/*background: none repeat scroll 0 0 red;*/
	background: url(../img/new_site/fond_sous_menu.bmp) repeat-x;
    border-color: #3783CC #3783CC #1665B0;
    border-style: solid;
    border-width: 0;
    clear: both;
    /*height: 30px;*/
	height: 31px;
    position: relative;
    width: 100%;
	margin: 0;
    padding: 0;
	line-height: 1.54;
	z-index: 10;
}

#menu div, #sousmenu div {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	line-height: 1.54;
}

#menu ul, .menu-horizontal ul {
    display: block;
    float: left !important;
    font-weight: bold;
    height: 100%;
    padding: 0 1%;
	margin: 0;
    position: relative;
    /*width: 98% !important;*/
	width: 100% !important;
	line-height: 1.54;
}

#sousmenu ul {
    display: block;
    float: left !important;
    /*font-weight: bold;*/
    height: 100%;
    padding: 0 1%;
	margin: 0;
    position: relative;
    /*width: 98% !important;*/
	width: 100% !important;
	line-height: 1.54;
}

ol, ul {
    list-style: none outside none;
	line-height: 1.54;
}

#menu li, .menu-horizontal li, #sousmenu li {
	position: relative;
	display: block;
    float: left;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
	line-height: 1.54;
	/*width: 80px;*/
}

#menu li a:link, #menu li a:visited, .menu-horizontal li a {
    border: medium none !important;
    color: #AAD2F8;
    display: block;
    float: left;
    height: 100% !important;
    padding: 0 !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 2;
}

#menu li a:hover {
    border: medium none !important;
    color: #DDEEFF;
    display: block;
    float: left;
    height: 100% !important;
    padding: 0 !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 2;
}

#sousmenu li a:link, #sousmenu li a:visited, .menu-horizontal li a {
    border: medium none !important;
    /*color: #AAD2F8;*/
	color: white;
    display: block;
    float: left;
    height: 100% !important;
    padding: 0 !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    /*z-index: 2;*/
}

#sousmenu li a:hover {
    border: medium none !important;
    color: #555555;
    display: block;
    float: left;
    height: 100% !important;
    padding: 0 !important;
    position: relative;
    text-align: center;
    text-decoration: underline;
    /*z-index: 2;*/
}

#menu li a span, .menu-horizontal li a span, #sousmenu li a span {
    float: left;
    padding: 0 !important;
    position: relative;
    top: 3px;
    vertical-align: baseline;
}

.menu-horizontal li a span span {
    top: 0 !important;
}

.static .menu-item-text {
    padding: 2px 0 2px 0;
}

#menu li ul, #sousmenu li ul {
    /*background: url("/Style Library/Theme/IMAGES/menu-2b.png") repeat-x scroll 0 0 transparent;*/
	background-color: darkgrey;
    display: none;
    float: left !important;
    font-size: 83.33%;
    font-weight: normal;
    height: auto;
    left: 0 !important;
    padding: 0 1% !important;
    position: absolute;
    top: 30px !important;
	/*top: 29px !important;*/
    width: 100% !important;
    z-index: 1;
}

#menu li li, #sousmenu li li {
    margin: 0 0 0 0;
    width: auto;
}

#menu li li a:link, #menu li li a:visited {
    background: none repeat scroll 0 0 transparent;
    color: #B1B1B1;
    line-height: 30px;
    padding-top: 0;
}

#menu li ul span {
    top: 0 !important;
    white-space: nowrap !important;
}